<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit - RosyWrite</title>
  <link rel="icon" href="/favicon.ico?v=1" type="image/x-icon" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    :root {
      --bg-light: #ffedff;
      --bg-dark: #ffbdd6;
      --border-dark: #fdcdfd;
      --input-bg: #ec93b5;
      --placeholder-color: #ffedff;
      --text-primary: #7a2e4c;
      --button-primary: #D16D87;
      --button-primary-hover: #ec7fa9;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      background: url('/background.webp') no-repeat center center fixed;
      background-size: cover;
    }
  </style>
</head>

<body class="text-[var(--text-primary)] font-sans p-8 min-h-screen">
  <div
    class="max-w-3xl mx-auto px-4 pt-4 pb-8 bg-white bg-opacity-70 rounded-xl"
  >
    <h1 class="text-4xl font-bold text-center text-[var(--text-primary)] mb-6">
      Edit Note
    </h1>
    <form
      action="/edit/<%= note._id %>"
      method="POST"
      class="border border-[var(--border-dark)] mb-10 bg-pink-50 rounded-lg p-6 shadow-md"
    >
      <div class="mb-4">
        <label
          class="block text-[var(--text-primary)] text-sm font-bold mb-2"
          for="title"
          >Freshen Up Name</label
        >
        <input
          type="text"
          name="title"
          value="<%= note.title %>"
          class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-pink-500"
          id="title"
        />
      </div>
      <div class="mb-4">
        <label
          class="block text-[var(--text-primary)] text-sm font-bold mb-2"
          for="note"
          >Refresh details</label
        >
        <textarea
          name="note"
          rows="5"
          class="resize-none w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-pink-500"
          id="note"
        ><%= note.note %></textarea>
      </div>
      <button
        type="submit"
        class="bg-[var(--button-primary)] hover:bg-[var(--button-primary-hover)] text-white py-2 px-4 rounded"
      >
        Finalize Edits
      </button>
    </form>
    <a
      href="/dashboard"
      class="block text-center bg-[var(--button-primary)] hover:bg-[var(--button-primary-hover)] text-white py-2 px-4 rounded"
    >
      ← Go Back to Home
    </a>
  </div>
</body>

</html>


