<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      :root {
        --bg-light: #ffedff;
        --bg-dark: #ffbdd6;
        --border-dark: #fdcdfd;
        --input-bg: #ec93b5;
        --placeholder-color: #ffedff;
        --text-primary: #7a2e4c;
        --button-primary: #d16d87;
        --button-primary-hover: #ec7fa9;
      }

      html,
      body {
        height: 100%;
        margin: 0;
        background: url("/background.webp") no-repeat center center fixed;
        background-size: cover;
      }
    </style>
  </head>

  <body class="text-[var(--text-primary)] font-sans p-8 min-h-screen">
    <div
      class="max-w-3xl mx-auto px-4 pt-4 pb-8 bg-white bg-opacity-70 rounded-xl"
    >
      <h1
        class="text-4xl font-bold text-center text-[var(--text-primary)] mb-6"
      >
        RosyWrite
      </h1>
      <form
        action="/create"
        method="post"
        class="border border-[var(--border-dark)] mb-10 bg-pink-50 rounded-lg p-6 shadow-md"
      >
        <div class="mb-4">
          <label
            class="block text-[var(--text-primary)] text-sm font-bold mb-2"
            for="title"
            >Name</label
          >
          <input
            name="title"
            class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-pink-500"
            id="title"
            type="text"
            placeholder="Give your note a name"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-[var(--text-primary)] text-sm font-bold mb-2"
            for="description"
            >Describe</label
          >
          <textarea
            name="note"
            class="resize-none w-full px-4 py-2 border w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-pink-500"
            id="description"
            placeholder="Let it all out here..."
            rows="4"
          ></textarea>
        </div>
        <button
          type="submit"
          class="bg-[var(--button-primary)] hover:bg-[var(--button-primary-hover)] text-white py-2 px-4 rounded"
        >
        Blush the Note
        </button>
      </form>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <% if (title.length > 0) { %>
        <% title.forEach(function(val) { %>
          <div
            class="p-2 rounded-xl text-center bg-pink-100 hover:bg-white hover:bg-opacity-60 transition duration-300 shadow-lg bg-opacity-70"
          >
            <h2 class="text-xl font-semibold text-[var(--text-primary)] mb-2">
              <%= val.title %> <!-- Access the 'title' property of each object -->
            </h2>
            <div class="flex space-x-1 justify-center">
              <a
                href="/show/<%= val._id %>"
                class="bg-[var(--button-primary)] hover:bg-[var(--button-primary-hover)] text-white py-1 px-2 rounded w-full text-center"
              >
                Reveal
              </a>
              <a
                href="/edit/<%= val._id %>"
                class="bg-[var(--button-primary)] hover:bg-[var(--button-primary-hover)] text-white py-1 px-2 rounded w-full text-center"
              >
                Enhance
              </a>
              <form
                action="/delete/<%= val._id %>"
                method="post"
                style="display: inline"
                class="w-full"
              >
                <button
                  type="submit"
                  class="bg-[var(--button-primary)] hover:bg-[var(--button-primary-hover)] text-white py-1 px-2 rounded w-full text-center"
                >
                  Forget
                </button>
              </form>
            </div>
          </div>
        <% }) %>
        <% } else { %>
        <div class="text-[var(--text-primary)] text-center">
          Your notebook is waiting...
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
