<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      :root {
        --bg-light: #ffedff;
        --bg-dark: #ffbdd6;
        --border-dark: #fdcdfd;
        --input-bg: #ec93b5;
        --placeholder-color: #ffedff;
        --text-primary: #7a2e4c;
        --button-primary: #be6085;
        --button-primary-hover: #ec7fa9;
      }

      html,
      body {
        height: 100%;
        margin: 0;
        background: url("/background.webp") no-repeat center center fixed;
        background-size: cover;
      }
    </style>
  </head>

  <body class="text-[var(--text-primary)] font-sans p-8 min-h-screen">
    <div
      class="max-w-4xl mx-auto px-4 pt-4 pb-8 bg-[var(--bg-light)] bg-opacity-80 rounded-xl"
    >
      <h1 class="text-4xl font-bold text-center text-[var(--text-primary)] mb-6">
        My Notes
      </h1>
      <form
        action="/create"
        method="post"
        class="bg-[var(--bg-dark)] p-6 border border-[var(--border-dark)] rounded-xl shadow-md mb-10"
      >
        <div class="mb-4">
          <label
            class="block text-[var(--text-primary)] text-sm font-bold mb-2"
            for="title"
            >Title</label
          >
          <input
            name="title"
            class="border border-[var(--border-dark)] rounded-xl w-full px-4 py-2 bg-[var(--input-bg)] text-[var(--text-primary)] placeholder-[var(--placeholder-color)] focus:outline-none focus:border-[var(--button-primary)]"
            id="title"
            type="text"
            placeholder="Enter title"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-[var(--text-primary)] text-sm font-bold mb-2"
            for="description"
            >Description</label
          >
          <textarea
            name="note"
            class="resize-none w-full px-4 py-2 border border-[var(--border-dark)] rounded-xl bg-[var(--input-bg)] text-[var(--text-primary)] placeholder-[var(--placeholder-color)] focus:outline-none focus:border-[var(--button-primary)]"
            id="description"
            placeholder="Write your note here..."
            rows="4"
          ></textarea>
        </div>
        <button
          type="submit"
          class="bg-[var(--button-primary)] hover:bg-[var(--button-primary-hover)] text-white py-2 px-4 rounded"
        >
          Add Note
        </button>
      </form>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <% if (files.length > 1) { %>
          <% files.forEach(function(val) { %>
            <% if (val !== ".gitkeep") { %>
              <div
                class="bg-[var(--bg-dark)] p-4 rounded-xl shadow-lg border border-[var(--border-dark)] text-center"
              >
                <h2 class="text-xl font-semibold text-[var(--text-primary)] mb-2">
                  <%= val %>
                </h2>
                <div class="flex space-x-1 justify-center">
                  <a
                    href="/file/<%= val %>"
                    class="bg-[var(--button-primary)] hover:bg-[var(--button-primary-hover)] text-white py-1 px-2 rounded w-full text-center"
                  >
                    Open
                  </a>
                  <a
                    href="/edit/<%= val %>"
                    class="bg-[var(--button-primary)] hover:bg-[var(--button-primary-hover)] text-white py-1 px-2 rounded w-full text-center"
                  >
                    Edit
                  </a>
                  <form action="/delete/<%= val %>" method="post" style="display:inline;" class="w-full">
                    <button
                      type="submit"
                      class="bg-[var(--button-primary)] hover:bg-[var(--button-primary-hover)] text-white py-1 px-2 rounded w-full text-center"
                    >
                      Remove
                    </button>
                  </form>
                </div>
              </div>
            <% } %>
          <% }) %>
        <% } else { %>
          <div class="text-[var(--text-primary)] text-center">No notes available.</div>
        <% } %>
      </div>
    </div>
  </body>
</html>
